In [2]:
x = 5
y = 3
z=x+y
print(z)

8

In [ ]:
Rules for declaring the varaible in python:

In [ ]:
Rule no 1 : No name space while declaring the varaible name.

In [3]:
first name = 'Abrar'
print(first name)

SyntaxError: invalid syntax (<ipython-input-3-e80644275157>, line 1)

In [4]:
firstname = 'Abrar'
print(firstname)

Abrar

In [ ]:
Rule no 2 : A varaible name should not start with a number.**

In [5]:
1name = 'naveen'
print(1name)

SyntaxError: invalid syntax (<ipython-input-5-7b83879ef60d>, line 1)

In [6]:
name1 = 'naveen'
print(name1)

naveen

In [ ]:
Rule no 3 : A varaible name should not contain any special character.

In [ ]:
@$%&----->we should not use them in between a varaible ---->

In [7]:
name@ = 'john'
print(name@)

SyntaxError: invalid syntax (<ipython-input-7-f2e501ae5ae5>, line 1)

In [ ]:
introduction to datatypes in python:
    1.String ----> Str
    2.Numbers ----> integers(int) & floats(decimals)
    3.List ----> List
    4.tuple ----> tuple
    5.Dictionaries ---->dict

In [ ]:
Classification of datatypes :
    1.mutable datatype ----> we can be able to change or edit the data(flexible)
    2.immutable datatype ----> we will not be able to change or edit the data(fixed)

In [ ]:
introduction to string datatype :
    Defination : A string is a series of characters enclosed in quotes
    classification : It is classified as an immutable  datatype.
        
        how to declare a string ----> 3 possible ways
        1. single quote
        2. double quotes
        3. triple quotes

In [8]:
name = 'kumar'     # single quote
print(name)

kumar

In [9]:
name2 = "hameed"    # double quotes
print(name2)

hameed

In [10]:
name3 = '''keerthi'''    # triple quotes
print(name3)

keerthi

In [11]:
# is used for commenting the lines in the python

In [ ]:
introduction to string methods :

In [ ]:
methods are builtin programs that are readily available to use in python.

In [12]:
type(name)

str

In [13]:
type(name2)

str

In [14]:
type(name3)

str

In [ ]:
Type method will be helping us to validate the datatype

In [ ]:
note : python is a case sensitive language.