In [ ]:
introduction to list datatype :

In [ ]:
defination : A list is a collection of items in a particular order.
    
    classification : it is classified as a mutable datatype

In [ ]:
how do you declare a list -----> [ ] =====> square brackets

In [1]:
students =['naveen','kranthi','hameed','john','farheen','swetha']

In [2]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']

In [3]:
type(students)

list

In [5]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']

In [ ]:
# req : how to access the elements from the list....?

In [ ]:
indexing : 0,1,2,3,4------

In [7]:
print(students[1])

kranthi

In [8]:
print(students[3])

john

In [9]:
print(students[3].title())

John

In [ ]:
1. how to add new elements to the list.

2. how to modify the elements in the list.

3. how to delete the elements in the list.

In [10]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']

In [ ]:
1. how to modify the elements in a list?

In [ ]:
# i want to add rafi to the above list?

In [11]:
students.append('rafi')

In [13]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha', 'rafi']

In [ ]:
# i want to add suvedita to the above list?

In [15]:
students.append('suvedita')

In [16]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suvedita']

In [ ]:
# req : i want to add kiran to the 2nd index?

In [17]:
students.insert(2,'kiran')

In [18]:
print(students)

['naveen', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suvedita']

In [19]:
print(students[2])

kiran

In [20]:
print(students[6])

swetha

In [21]:
print(students[5])

farheen

In [ ]:
interview questions : what is the difference between append and insert in a list? can you explain? ***

In [ ]:
2.  how to modify the elements in a list?

In [22]:
print(students)

['naveen', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suvedita']

In [ ]:
# req : i want to modify naveen name to namita?

In [23]:
students[0]= 'namita'

In [24]:
print(students)

['namita', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suvedita']

In [ ]:
3 . how to delete the elements in the list?

In [25]:
print(students)

['namita', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suvedita']

In [ ]:
# req : i want to delete kiran name in the list----?

In [26]:
del students[2]

In [27]:
print(students)

['namita', 'kranthi', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suvedita']