In [ ]:
Organising the list datatype :

In [1]:
cars = ['kia','benz','audi','bmw','suzuki','maruthi']

In [2]:
print(cars)

['kia', 'benz', 'audi', 'bmw', 'suzuki', 'maruthi']

In [3]:
type(cars)

list

In [ ]:
# req : i want to organise the above cars list in a alphabetical order-----A-Z order

In [ ]:
 2 possible approaches :
        
        1. temp approach -----> we can able to maintain the original of the list.
        
        2. per  approach -----> changes are fixed, cant go back to the original order.

In [5]:
# temp approach -----> 1.    A ----> Z

print(sorted(cars))

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [6]:
print(cars)  # this is the original order

['kia', 'benz', 'audi', 'bmw', 'suzuki', 'maruthi']

In [ ]:
benz,bmw =====> e,m

In [ ]:
#permanent approach :

In [7]:
cars.sort()

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [13]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [ ]:
# req : how to print the list in a reverse order-----? ****

In [14]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [15]:
cars.reverse()    # the change are applied permanent

In [16]:
print(cars)

['suzuki', 'maruthi', 'kia', 'bmw', 'benz', 'audi']

In [17]:
print(cars)

['suzuki', 'maruthi', 'kia', 'bmw', 'benz', 'audi']

In [18]:
print(cars)

['suzuki', 'maruthi', 'kia', 'bmw', 'benz', 'audi']

In [ ]:
# req : to count the number of elements  in the list ---?

In [19]:
len(cars)

6

In [ ]:
slicing of lists :

In [20]:
students =['suvedita','farheen','kumar','imran','surya','hameed']

In [21]:
print(students)

['suvedita', 'farheen', 'kumar', 'imran', 'surya', 'hameed']

In [ ]:
General syntax of slicing :

In [ ]:
startvalue:stopvalue:stepcount =====>indexing

In [ ]:
Note : last value or stop value is always exclusive,that means it will be included in part of the slice.

In [ ]:
Note2 : increment the index by 1 to include the last value or stop value

In [ ]:
# req : i want to include suvedita and farheen in the same slice

In [22]:
print(students[0:1])

['suvedita']

In [23]:
print(students[0:2])

['suvedita', 'farheen']

In [ ]:
# req : i want to include kumar and imran in the same the slice.

In [24]:
print(students)

['suvedita', 'farheen', 'kumar', 'imran', 'surya', 'hameed']

In [25]:
print(students[2:4])

['kumar', 'imran']

In [ ]:
# req : i want to include surya and hameed in the same the slice.

In [26]:
print(students[4:6])

['surya', 'hameed']

In [28]:
print(students[0:6:2])

['suvedita', 'kumar', 'surya']

In [29]:
print(students)

['suvedita', 'farheen', 'kumar', 'imran', 'surya', 'hameed']